{% load content_tags %}
<figure class="engineering-equation">
  <div class="engineering-equation__formula">
    {{ value.latex|render_latex_mathml }}
    {% if value.number %}<span class="engineering-equation__number">({{ value.number }})</span>{% endif %}
  </div>
  {% if value.caption %}<figcaption>{{ value.caption }}</figcaption>{% endif %}
  {% if value.variables %}
    <dl class="engineering-equation__variables">
      {% for variable in value.variables %}
        <div>
          <dt>{{ variable.symbol }}</dt>
          <dd>{{ variable.meaning }}{% if variable.unit %}（{{ variable.unit }}）{% endif %}</dd>
        </div>
      {% endfor %}
    </dl>
  {% endif %}
</figure>
